.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #333;
    border-radius: 20px;
    margin-top: 10px;
  }

  .alCon {
    width: 100%;
    background-color: #333;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
  }

  .text {
    flex: 1;
    padding: 20px;
  }

  .image {
    flex: 1;
    padding: 20px;
  }

  /* Optional: adjust styles as needed */
  img {
    max-width: 100%;
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
  }

  .text ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Remove default left padding */
  }
  
  .text ul li {
    padding-left: 1em; /* Add padding to align text */
    text-indent: -1em; /* Move text back to compensate for padding */
  }
  
  .text ul li:before {
    content: "◆"; /* Use a diamond character as the bullet point */
    color: yellow; /* Set the color of the bullet point */
    font-size: 1.2em; /* Adjust size if needed */
    margin-right: 0.5em; /* Add space between bullet point and text */
  }
  