/* Contact */

#contact-items {
    background-color: var(--accent-color-one);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style the paragraph */
#contact p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Style labels for inputs */
#contact label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style inputs and textarea */
#contact input[type="email"],
#contact input[type="text"],
#contact textarea {
    background-color: var(--accent-color-three);
    padding: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    width: 95%;
}

h1 {
    font-size: 36px;
    margin: 0;
}

section {
    background-color: var(--accent-color-one);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.fab {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}

#banner {
    background-color: #3498db;
    color: white; 
    text-align: center;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
}